body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0a0f24;
    color: white;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),
        url("https://images.unsplash.com/photo-1518770660439-4636190af475") center/cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 4rem;
    animation: slideDown 1.5s ease;
}

.event-logo {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto 10px auto;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.event-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.event-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 0 25px cyan;
}

@keyframes slideDown {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}



